/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
/* 
MAIN:  #087f5b
GREY: #343a40
*/

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    width:960px;
}

body{
    font-family: 'Inter',sans-serif; 
    border-bottom: 10px solid #087f5b;
    color:#343a40;
}

header{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    column-gap:80px;
    margin-top: 48px;
    margin-bottom: 98px;
}
header h1{
    margin-bottom: 20px;
}

.header-text{
    margin-bottom: 20px;
}

.grid-3-div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 80px;
}

section{
    margin-bottom: 98px;
}

p{
    line-height: 1.5;
    letter-spacing:0px;
}

blockquote{
    font-style: italic;
    line-height: 1.5;
    letter-spacing: 0px;
}

img{
    width: 100%;
    margin-bottom: 32px;
    border-radius: 10px;
}

footer{
    color:#495057;
    font-size:14px;
    margin-bottom: 48px;
}

/* Links */

.btn{
    border-radius: 100px;
}

.btn:link,
.btn:visited{
    background-color: #087f5b;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.btn:hover,
.btn:active{
    background-color: #099268;
}

.btn-big{
    padding: 12px 18px; 
    display: inline-block;
}
.btn-small{
    padding: 8px 12px   ;
}

/* feature section */
.feature-title{
    margin-bottom: 24px;
    font-size: 20px;
}

.feature-text{
    line-height: 1.6;
}

/* testimonials */
.testimonials-section{
    background-color: #087f5b;
    color: #fff;
    padding: 24px;
    border-radius: 10px;
}
.testimonial-box{
    grid-column: 2 /-1;
    align-self: center;
    padding: 10px;
    
}

.testimonials-section h2{
    margin-bottom:32px;

}

.testimonial-box h2{
    font-size: 24px;
}
.testimonial-text{
    line-height: 1.6;
    letter-spacing: -0.5px; 
    color:#e6fcf5;
}

.testimonial-author{
    padding-top:20px;
    color:#c3fae8;
}


/* products */
.price-info{
    display:flex ;
    justify-content: space-between;
    font-size: 20px;
}

.chair{
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
}

.chair-box{
    padding: 24px;
}

.chair-box li{
    display: flex;
    align-items: center;
    gap:12px;
}

li:last-child{
    margin-bottom: 24px;
}

/* smaller elements */
h1{
    font-size: 44px;
}

h2{
    margin-bottom:48px;
    font-size:36px;
}

h3{
    margin-bottom: 24px;
}


li{
    list-style: none;
    margin-bottom: 16px;
}

strong{
    font-weight: bold;
}
.chairs img{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.feature-list{
    height: 24px;
    width: 24px;
    stroke: #087f5b;
}
.features-icon{
    height: 32px;
    width: 32px;
    stroke: #087f5b;
    margin-bottom: 24px;
}
